# Python virtual environments
.venv/
.venv1/

# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc

# MacOS metadata
.DS_Store

# Generated data files
*.parquet
sic_cache.csv
performance_summary*.csv
data_ticker_sector.csv

# Generated output plots
*.png

